.services{
      display: flex;
      height: 90vh;
      margin-top: 8rem;
      margin-bottom: 6rem;
      padding: 0 3rem 0 3rem;

}
.awesome{
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1;
}
.awesome>:nth-child(1){
      color:  var(--black);
      font-weight: bold;
      font-size: 2.5rem;
}
.awesome>:nth-child(2){
      color: var(--yellow);
      font-weight: bold;
      font-size: 2.5rem;
}
.awesome>:nth-child(3){
      margin-top: 1rem;
      color: var(--gray);
      font-size: 20px;
}
.s-button{
      width: 8rem;
      margin-top: 1.3rem;
}

.s-card{
      display: flex;
      flex: 1;
      position: relative;
}
.s-card>*{
      position: absolute;
}
.s-blur{
      top: 13rem;
      left: -18rem;
}