.contact-form{
      padding: 0 3rem 0 3rem;
      display: flex;
      margin-top: 4rem;
      height: 80vh;
      position: relative;
}
.contact-left{
      display: flex;
      flex: 1;
      flex-direction: column;
}
.c-right{
      display: flex;
      justify-content: center;
      position: relative;
      flex: 1;
}
.c-right>form{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
}
.c-right .user{
      width: 20rem;
      height: 2rem;
      outline: none;
      border: 2px solid var(--orange);
      border-radius: 8px;
      font-size: 16;
}
textarea{
      height: 4rem!important;
}
.contact-awesome{
      display: flex;
      flex-direction: column;
}
.contact-awesome>:nth-child(1){
      font-weight: bold;
      font-size: 3rem;
}
.contact-awesome>:nth-child(2){
      font-weight: bold;
      font-size: 2rem;
      color: var(--orange);
}
.c-blur{
      position: absolute;
      background: #e9bae2;
      height: 14rem;
      width: 22rem;
      border-radius: 50%;
      filter: blur(100px);
      top: 8rem;
      left: -10rem;

}
.c-blur2{
      background:#9e98cb;
      position: absolute;
      height: 10rem;
      width: 15rem;
      border-radius: 50%;
      filter: blur(100px);
      z-index: -10;
}