.toggle{
      display: flex;
      justify-content: space-between;
      border: 2px solid var(--orange);
      border-radius: 1rem;
      padding: 2px;
      cursor: pointer;
      position: relative;
}
.toggle>*{
      height: .8rem;
      width: 1rem;
      color: var(--orange);
}
.t-button{
      border-radius: 100%;
      background-color: var(--orange);
      position: absolute;
      
}